RESEND_API_KEY=
NEXT_PUBLIC_RESEND_API_KEY=
MONGODB_URI=
MONGODB_DB=eagle_revolution
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
SMTP_USER=
SMTP_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
NEXT_PUBLIC_BASE_URL=
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
